@font-face {
    font-family: 'EuclidCircularb';
    src: url('fonts/EuclidCircularB-Bold-WebXL.woff2') format('truetype');
}

.active{
    color: #912828;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(8 8 8);
    font-family: 'EuclidCircularb', sans-serif;
}

.cookies{
    background-color: #0000006e;
    filter: blur();
    width: 20em;
    height: auto;
    position: fixed;
    top: 75%;
    right: 10px;
    border: none;
    outline: 1px solid #912828;
}

.cookie-text{
    padding: 10px 10px 10px;
    text-align: center;
}

.cookie-text h1{
    color: #fff;
    font-size: 17px;
}

.cookie-button{
    padding: 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.cookie-button button{
    width: 10em;
    height: 2em;
    background-color: #912828;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    font-family: 'EuclidCircularb' !important;
    transition: all 0.3s ease;
}

nav{
    width: 100%;
    z-index: 9999;
}

.nav-items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: cair 1s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(-100%);
}

.nav-logo{
    color: #fff;
    font-style: italic;
    margin-left: 3em;
}

.nav-logo h1{
    font-family: sans-serif;
}

.nav-links{
    margin-right: 2em;
    transition: all 0.3s ease;
}

.nav-links:hover{
    scale: 1.1;
}

.nav-links ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.nav-links ul li{
    list-style: none;
}


.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
    transition: all 0.3s ease;
}

.nav-links ul li a:hover{
    color: #912828;
}

.nav-button{
    margin-right: 3em;
    margin-bottom: 10px;
}

.nav-button button{
    width: 5em;
    height: 2em;
    background-color: #912828;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    font-family: 'EuclidCircularb' !important;
    transition: all 0.3s ease;
}

.nav-button button:hover{
    scale: 1.1;
}

.hamburger-button{
    display: none;
}

.hamburger {
    cursor: pointer;
    padding: 10px;
    border: none;
    background: transparent;
}
  
.hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background: #912828;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.hamburger span:last-child {
    margin-bottom: 0;
}

.hamburger:hover span {
    background: #521717;
}

.dropdown-menu{
    opacity: 0;
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    z-index: 999;
    width: 100%;
    height: 0em;
    background-color: #141313;
    transition: all 0.3s ease;
}

.dropdown-menu.active{
    opacity: 1;
    height: 16em;
}

.dropdown-menu-items{
    margin-top: 5em;
}

.dropdown-menu-links ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 1.8em;
}

.dropdown-menu-links ul li{
    list-style: none;
    padding: 0px 0px 0px;
}

.dropdown-menu-links ul li a{
    text-decoration: none;
    color: #fff;
}

.dropdown-menu-button{
    margin-left: 1.8em;
    margin-top: 1.4em;
}

.dropdown-menu-button button{
    width: 5em;
    height: 2em;
    background-color: #912828;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    font-family: 'EuclidCircularb' !important;
    transition: all 0.3s ease;
}

.about-container{
    display: flex;
    align-items: center;
    margin-top: 3em;
}

.about-image img{
    width: 550px;
    height: 450px;
    animation: aparecer 1s ease-in-out;
    animation-fill-mode: forwards;
}

.about-description{
    text-align: center;
    width: 100%;
    margin-right: 10em;
}

.about-description h1{
    color: #912828;
    font-size: 40px;
    animation: aparecer 1s ease-in-out;
    animation-fill-mode: forwards;
}

.about-description p{
    color: #fffdfd;
    font-family: sans-serif;
    font-weight: 300;
}

.members-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin-top: 2em;
    flex-wrap: wrap;
}

.member-card{
    display: flex;
    flex-direction: column;
    background-color: #202020;
    height: 23em;
    border-radius: 20px;
    box-shadow: 2px 3px 8px#000;
    transition: all 0.5s ease;
    animation: aparecer 1s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

.member-card:hover{
    scale: 1.1;
}

.member-foto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
}

.member-foto img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    outline: 1px solid#202020;
    border: 2px solid;
}

.member-nome{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1em;
    margin-top: 1em;
}

.member-nome h1{
    color: #fff;
}

.member-description{
    margin-top: 2em;
    text-align: center;
    height: 100%;
    background-color: #161616;
    border-radius: 20px;
}

.member-description p{
    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
    width: 18em;
    padding: 5px 19px 7px;
}

@media only screen and (max-width: 600px) {
    nav{
        position: relative;
    }
    .nav-links{
        display: none;
    }
    .nav-logo{
        margin-left: 1em;
    }
    .nav-button{
        display: none;
    }
    .about-container{
        flex-direction: column;
        width: 100%;
    }
    .about-description{
        margin-right: 0;
    }
    .about-description p{
        font-size: 19px;
    }
    .about-description h1{
        height: fit-content;
        font-size: 26px;
    }
    .about-image img{
        width: 400px;
        height: 300px;
    }
    .members-container{
        flex-direction: column;
    }
    .member-card{
        width: 90%;
    }
    .member-description p{
        color: #fff;
        font-family: sans-serif;
        font-weight: 400;
        width: 18em;
        padding: 5px 19px 7px;
    }
    .cookies{
        width: 16em;
        top: 50%;
        right: 20%;
    }
    .hamburger{
        margin-right: 1em;
    }
    .hamburger-button{
        display: block;
    }
  }

  @keyframes cair {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
